book1/ch14/multiplication/.stack-work
book1/ch14/multiplication/stack.yaml
book1/ch14/multiplication/stack.yaml.lock

book1/ch14/numbersIntoWords/.stack-work
book1/ch14/numbersIntoWords/stack.yaml
book1/ch14/numbersIntoWords/stack.yaml.lock

book1/ch14/generators/.stack-work
book1/ch14/generators/stack.yaml
book1/ch14/generators/stack.yaml.lock

book1/ch14/ciphers/.stack-work
book1/ch14/ciphers/stack.yaml
book1/ch14/ciphers/stack.yaml.lock